body{color: #777777; background-color:#4aaaa5; font-family:Helvetica; width:960px;}
img{margin:10px; border:___; border-color:___;}

/*Social Link Options Label*/
h2{font-family:Times;}
/*The contact entry labels*/
h4{font-family:serif;}
/*The main content*/
div{background-color:___; width:650px;}
/*The Social network links*/
li{margin-bottom:20px;}
p{margin:10px;}
/*The website name*/
.name{color:#4aaaa5; background-color:#ffffff; font-family:Times, serif; padding:___; margin:0;}
/*The navigation links*/
.float{margin-right:20px; border:___; float:right;}
/*The page title*/
.page{color: #67a9a2; font-family:serif;}
/*The border for the main body (excluding network sidebar)*/
.main-body{border-color:#dddddd; background-color:#ffffff;}
/*Selection of portfolio links*/
.entry{background-color:lightgrey; position:relative; left:150px;}
/*Portfolio pictures*/
.portfolio{height:210px; width: 210px;}
/*Social network box*/
.network{background-color: white; width:270px; float:right;}
/*Copyright footnote*/
.copyright{background-color:lightgrey; padding:20px; border-color:___; font-family:Arial; width:960px; position:relative; top:90px;}
/*The contact info entries*/
.contact{border-style:solid;border-width:1px;border-color:black; height:16px; width:500px}
/*The send command*/
#send{margin-top:2em; font-weight:bold; font-size:1.5em;}
#send:hover{color:orange;}
/*Message box*/
#message{border-style:solid;border-width:1px;border-color:black; height:4em; width:500px;}
#profile{height:200px; width:100px;float:left;}